#
# pywinauto-tests | Ignore list
#

/.sarif/
/target/
/bin/
/build/

.idea/

/*.log.txt
.gdn/
.build/

.vs/

*.vcxproj.user

*.opensdf
*.sdf
**/Release/
**/amd64/
**/Debug/
**/ipch/

.qmake.stash

**/source/*.o
**/source/moc_*.cpp
**/source/moc_*.h
**/source/Makefile
**/mousebuttons
**/send_keys_test_app

*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
project.assets.json
project.nuget.cache
*.upgrade.json
*.tlog
*.ilk
*.obj
*.exe
*.pch
*.res
*.log
*.pdb
